body {
  background-color: #18212d;
}

.field {
  font-size: 22px;
}

#url {
  width: 100%;
}

#title {
  width: 80%;
  float: left;
  margin: 0;
}

.button {
  font-size: 22px;
  width: 19%;
  float: right;
  margin: 0;
}

.form {
  margin: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.imageTitle {
  justify-content: center;
  color: black;
  font-size: 22px;
  text-align: center;
}

.image {
  max-width: 100%;
}

.post {
  padding: 20px;
  background-color: white;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
}